$primaryColor: #00EB00;
body {
  background: #333;
  color: #fff;
  padding-top: 30vh;
}

h1{
  font-size: 52px;
  font-weight: normal;
}

h4{
  margin: 10px 0;
}

.s{
  border-radius: 4px;
  padding: 2px 6px;
  background: #222;
  color: #00EB00;
}

.btn{
  background: $primaryColor;
  color: #333;
  font-weight: bold;
  outline: none;
  margin-top: 15px;

  .s{
    margin-left: 5px;
  }
}
